{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/git",
      {
        "assets": ["pubspec.yaml", ".metadata"]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "artifacts/PessoaPensadora.apk", "label": "Android App (APK)" },
          { "path": "artifacts/PessoaPensadora.aab", "label": "Android App (App Bundle)" }
        ]
      }
    ]
  ]
}