<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.l3n.pessoapensadora.pessoa_pensadora" >
    <application
        android:label="Pessoa Pensadora (dev)"
        tools:replace="android:label" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
